h1 {
  font-size: 42px;
}
h3 {
  font-size: 24px;
}
.header p {
  font-size: 26px;
}
::-webkit-scrollbar {
  background-color: transparent;
  /* border-radius: 2px; */
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: gold;
  width: 10px;
  border-radius: 5px;
}
